body {
  background:#FFFFFF;
  margin:0px;
  padding:0px;
  font-size:14px;
  font-family:Arial,KaiTi;
}
#container {
  margin:0px auto;
  width:80%;
  height:1400px;
  text-align:left;
  overflow:hidden;
  /*overflow:auto;*/
}
#header_top{
  height:60px;
  width:100%;
  
}
div header_top {
	border:solid 1px;
	
}
#header {
  margin:0px auto;
  padding:5px 0px;
  /*align:center;*/
  background:#fff;
  height:60px;
  width:80%;
}
#header ul {
  list-style:none;
	
}
#header ul li {
  display:inline;
  font-size:20px;
  
}
#banner {
  margin:0px;
  padding:0px;
  background:#ffffff;
  height:150px;
  width:100%;
}
#globallink {
  margin:0px;
  padding:0px;
  background:#ffffff;
  height:50px;
  width:100%;
}
#content {
	width:100%;
	background:#eee333;
	margin:0;
	padding:0;
	height:1200px;
}
#left_top {
  margin:0px;
  padding:8px 0px 0px 15px;
  width:20%;
  height:1200px;
  background:#fff;
  color:#d8ceff;
  float:left
}
#middle_top {
  margin:0;
  padding:0;
  width:65%;
  /*width:700px;*/
  height:auto;
  background:#fff;
  position:relative;
  float:left;
  /*
  overflow:hidden;*/
}
#footer {
  clear:both;
}
.daima {
  background:#eee;
  text-indent: 4em;
  border-left:20px;
  margin-left:40px;
}
.post-title {
  margin-left: 60px;
  font-weight: normal;
  line-height: inherit;
  font-size: 26px;
  /*text-align: center;*/
  word-break: break-word;
  font-weight: 400;
}
.codeeara {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2d2d2d;
  width:500px;
}
.codeeara ul {
  list-style:none;
}
.codeeara ul li {
  color:#fff;
}
.codecontent {
  background-color:#E8E8E8;
  width:auto;
}
img {
  width:80%;
  /*heignt:100%;*/
}
.mycontent {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #C0C0C0;
  width:80%;
  word-wrap:break-word;
}
.mycontent ul {
  list-style:none;
}
.dotcontent {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #C0C0C0;
  width:80%;
}
