
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../css/style.css" />
  
</head>
<body>
	
<div class="container_top">
<div id="left_top"></div>
<div id="middle_top">	
<h1><div class="post-title">Django 模板标签</div></h1>
<h3>if/else 标签</h3>
<p>语法如下：</p>
<div class="codecontent"><ul>
<li>{%&nbsp;if&nbsp;condition&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...&nbsp;display</li>
<li>{%&nbsp;endif&nbsp;%}</li>
</ul></div>
<p>或者：</p>
div <class="mycontent"><ul>
<li>{%&nbsp;if&nbsp;condition1&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;...&nbsp;display&nbsp;1</li>
<li>{%&nbsp;elif&nbsp;condition2&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;...&nbsp;display&nbsp;2</li>
<li>{%&nbsp;else&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;...&nbsp;display&nbsp;3</li>
<li>{%&nbsp;endif&nbsp;%}</li>
</ul></div>
<p根据条件判断是否输出。if/else 支持嵌套。

<br />{% if %} 标签接受 and ， or 或者 not 关键字来对多个变量做判断 ，或者对变量取反（ not )，例如：</p>
<div class="mycontent"><ul>
<li>{%&nbsp;if&nbsp;athlete_list&nbsp;and&nbsp;coach_list&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;athletes&nbsp;和&nbsp;coaches&nbsp;变量都是可用的。</li>
<li>{%&nbsp;endif&nbsp;%}</li>
</ul></div>
<h3>for 标签</h3>
<p>{% for %} 允许我们在一个序列上迭代。<br /> 

与Python的 for 语句的情形类似，循环语法是 for X in Y ，Y是要迭代的序列而X是在每一个特定的循环中使用的变量名称。<br />

每一次循环中，模板系统会渲染在 {% for %} 和 {% endfor %} 之间的所有内容。

<br />例如，给定一个运动员列表 athlete_list 变量，我们可以使用下面的代码来显示这个列表：</p>
<div class="mycontent"><ul>
<li>&lt;ul&gt;</li>
<li>{%&nbsp;for&nbsp;athlete&nbsp;in&nbsp;athlete_list&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;{{&nbsp;athlete.name&nbsp;}}&lt;&frasl;li&gt;</li>
<li>{%&nbsp;endfor&nbsp;%}</li>
<li>&lt;&frasl;ul&gt;</li>
</ul></div>
<p>给标签增加一个 reversed 使得该列表被反向迭代：</p>
<div class="mycontent"><ul>
<li>{%&nbsp;for&nbsp;athlete&nbsp;in&nbsp;athlete_list&nbsp;reversed&nbsp;%}</li>
<li>...</li>
<li>{%&nbsp;endfor&nbsp;%}</li>
</ul></div>
<p>可以嵌套使用 {% for %} 标签：</p>
<div class="mycontent"><ul>
<li>{%&nbsp;for&nbsp;athlete&nbsp;in&nbsp;athlete_list&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&lt;h1&gt;{{&nbsp;athlete.name&nbsp;}}&lt;&frasl;h1&gt;</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;{%&nbsp;for&nbsp;sport&nbsp;in&nbsp;athlete.sports_played&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;{{&nbsp;sport&nbsp;}}&lt;&frasl;li&gt;</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;{%&nbsp;endfor&nbsp;%}</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&lt;&frasl;ul&gt;</li>
<li>{%&nbsp;endfor&nbsp;%}</li>
</ul></div>
	
	






</div>
</div>

</body>
</html>
